<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393935082643-6r15cb3m0lavvuu6nb56r7ome5ronh5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393935082643-6r15cb3m0lavvuu6nb56r7ome5ronh5r</string>
	<key>API_KEY</key>
	<string>AIzaSyDUQq8B1Q_hNLmhGybX7ekHq9S3Mgf_Ors</string>
	<key>GCM_SENDER_ID</key>
	<string>393935082643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workshop.Commusic</string>
	<key>PROJECT_ID</key>
	<string>commusic-3385e</string>
	<key>STORAGE_BUCKET</key>
	<string>commusic-3385e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393935082643:ios:485e4159c71fb8cc602966</string>
</dict>
</plist>